.site-breadcrumb {
    gap: 10px;
    display: flex;
    justify-content: center;

    a {
        color: var(--c-blue);
        border-bottom: 1px solid transparent;

        &:hover {
            transition: .3s;
            border-bottom: 1px solid var(--c-blue);
        }
    }
}