.product-card {
    padding: 10px;
    background-color: var(--c-white);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.17);

    .-header {
        // 

        img {
            // 
        }
    }

    .-content {
        // 

        .-title {
            font-size: 700;
        }
    }
}