.category-card {
    padding: 15px;
    display: flex;
    min-height: 150px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: var(--c-white);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.17);

    .-button {
        top: 0;
        left: 0;
        width: 100%;
        text-align: end;
        position: absolute;
    }

    .-header {
        font-weight: 600;
        font-size: 1.1rem;
        text-align: center;
        padding-bottom: 15px;
    }

    .-content {
        gap: 10px;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
}