.filter {
    background-color: var(--c-white);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.17);

    .-filter-widget {
        padding: 15px;

        .-filter-card {
            width: 100%;

            &:not(:first-child) {
                margin-top: 15px;
            }

            .-form {
                display: flex;

                input {
                    width: 100%;
                    height: 30px;
                    padding: 0 15px;
                    border-radius: 25px;
                    border: 1px solid var(--c-gray85);
                }
            }

            .-header {
                font-size: 1rem;
                font-weight: 700;
                padding: 5px 10px;
                border: 1px solid var(--c-gray85);
            }

            .-content {
                list-style: none;
                padding-top: 10px;

                li:not(:first-child) {
                    margin-top: 5px;
                }
            }
        }
    }
}