/* ----------------------------------------------- *\
    Form
\* ----------------------------------------------- */
form {
    // 
    
    .form-field {
        flex: 1;
        display: flex;
        line-height: 30px;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        label {
            gap: 5px;
            display: flex;
            padding-bottom: 5px;

            &[for] {
                font-weight: 700;
            }

            span {
                margin: auto 0;
            }
        }

        input:not([type="file"]) {
            height: 35px;
            padding: 0 20px;
            background-color: transparent;
            border: 1px solid var(--c-silver);
        }

        input:disabled {
            background-color: var(--c-silver);
        }

        textarea {
            height: 150px;
            padding: 20px;
            resize: vertical;
            background-color: transparent;
            border: 1px solid var(--c-silver);
        }

        select {
            height: 35px;
            padding: 0 15px;
            background-color: transparent;
            border: 1px solid var(--c-silver);

            &[multiple] {
                height: 150px;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        small {
            line-height: 1.5;
            padding-top: 10px;
        }
    }

    .form-field-inline {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        flex-direction: row;

        .field {
            flex: 1;
            border: 1px solid var(--c-silver);
            border-radius: 0% !important;
        }

        .form-field {
            margin-bottom: 0;
        }
    }

    .form-information {
        text-align: center;
        margin-bottom: 10px;
    }

    .form-multiple-upload {

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        .multiple-upload-zone {
            padding: 15px;
            min-height: 100px;
            border-radius: 5px;
            border: 2px dashed var(--c-blue);
            background-color: ghostwhite;
        }

        .multiple-upload-files {
            margin-top: 25px;

            .-files-uploaded {
                gap: 10px;
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(5, 1fr);

                .-file-card {
                    padding: 10px;
                    list-style: none;
                    border-radius: 15px;
                    border: 1px solid var(--c-silver);

                    .-header {
                        text-align: right;
                    }

                    .-content {
                        gap: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .form-button {
        text-align: right;

        .btn:not(:first-child) {
            margin-left: 10px;
        }
    }
}