/* ----------------------------------------------- *\
    Height
\* ----------------------------------------------- */
.h-100px {
    height: 100px;
}

.h-100 {
    height: 100%;
}

/* ----------------------------------------------- *\
    Width
\* ----------------------------------------------- */
.w-100 {
    width: 100%;
}

/* ----------------------------------------------- *\
    Texte
\* ----------------------------------------------- */
.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.txt-bold {
    font-weight: 700;
}


/* ----------------------------------------------- *\
    Margin
\* ----------------------------------------------- */
.m-0 {
    margin: 0;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-tb-auto {
    margin: auto 0;
}

.m-tb-15 {
    margin: 15px 0;
}


/* ----------------------------------------------- *\
    Padding
\* ----------------------------------------------- */
.p-t-5 {
    padding-top: 5px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-tb-5 {
    padding: 5px 0;
}

.p-tb-15 {
    padding: 15px 0;
}

.p-tb-50 {
    padding: 50px 0;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-15 {
    padding: 15px;
}


/* ----------------------------------------------- *\
    Background
\* ----------------------------------------------- */
.bg-white {
    background-color: var(--c-white);
}


/* ----------------------------------------------- *\
    Display
\* ----------------------------------------------- */
.d-flex {
    display: flex;

    .item {
        flex: 1;
    }
}

.d-col {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.d-justify {
    display: flex;
    justify-content: space-between;
}

.d-grid {
    display: grid;
    grid-gap: 15px;

    @include desktop {
        &.-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        
        &.-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
    
        &.-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        
        &.-col-2 {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
        grid-template-columns: repeat(1, 1fr);

        &.-m-col-2 {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@include tablet {
    .t-d-hidden {
        display: none;
    }
}

/* ----------------------------------------------- *\
    Gap
\* ----------------------------------------------- */
.-g-5 {
    gap: 5px;
}

.-g-15 {
    gap: 15px;
}

.-g-20 {
    gap: 20px;
}

.-g-25 {
    gap: 25px;
}

.-g-50 {
    gap: 50px;
}