/* ----------------------------------------------- *\
    Texte
\* ----------------------------------------------- */
.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}


/* ----------------------------------------------- *\
    Margin
\* ----------------------------------------------- */
.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-b-25 {
    margin-bottom: 25px;
}


/* ----------------------------------------------- *\
    Padding
\* ----------------------------------------------- */
.p-t-5 {
    padding-top: 5px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-25 {
    padding-top: 25px;
}