.table {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px 5px 0 0;
    background-color: var(--c-white);

    td, th {
        border-color: 1px solid var(--c-gray85);
    }

    &.-collapse {
        border: none;
        border-collapse: collapse;
    }

    thead {
        color: var(--c-white);
        background-color: var(--c-black);

        @include tablet {
            display: none;
        }

        th {
            padding: 10px;
            min-width: 100px;

            &.column-action {
                width: 50px;
            }

            @include tablet {
                width: 100%;
            }
        }
    }

    tbody {
        // 

        tr {
            &:nth-child(even) {
                background-color: var(--c-lightGray);
            }

            &:hover {
                background-color: var(--c-silver);
            }

            @include tablet {
                display: flex;
                padding: 0 25px;
                flex-direction: column;
            }

            td {
                padding: 15px;
                text-align: center;

                &.-actions {
                    gap: 5px;
                    display: flex;
                    text-align: center;
                }

                @include tablet {
                    margin: 5px 0;
                    text-align: left;
                    padding-left: 40%;
                    position: relative;
                    
                    &::before {
                        top: 0;
                        left: 0;
                        width: 30%;
                        padding: 15px;
                        font-size: 14px;
                        line-height: 1.2;
                        font-weight: 500;
                        position: absolute;
                        color: var(--c-black);
                    }

                    // User
                    &.-fullname::before {
                        content: "Prénom & Nom";
                    }

                    &.-address::before {
                        content: "Adresse";
                    }

                    &.-phone::before {
                        content: "Numéro de téléphone";
                    }

                    &.-email::before {
                        content: "Adresse email";
                    }

                    &.-nbr-orders::before {
                        content: "Nombre de commandes";
                    }

                    // Product
                    &.-product::before {
                        content: "Nom du produit";
                    }

                    &.-brand::before {
                        content: "Vendeur";
                    }

                    &.-category::before {
                        content: "Categorie";
                    }

                    &.-description::before {
                        content: "Description";
                    }

                    &.-unit-price::before {
                        content: "Prix unitaire";
                    }

                    // Order
                    &.-order-id::before {
                        content: "Commande";
                    }

                    &.-customer::before {
                        content: "Client";
                    }

                    &.-quantity::before {
                        content: "Quantité";
                    }

                    &.-paid-status::before {
                        content: "Statut du paiement";
                    }

                    &.-status::before {
                        content: "Status de la commande";
                    }

                    // Common
                    &.-message::before {
                        content: "Message";
                    }

                    &.-created-at::before {
                        content: "Créer à";
                    }

                    &.-total-amount::before {
                        content: "Montant total";
                    }

                    &.-actions {
                        text-align: left;

                        &::before {
                            content: "Actions";
                        }
                    }
                }
            }
        }
    }
}