:root {
    // Palette
    --c-primary: "";
    --c-second: "";

    // Primary colors
    --c-white: #ffffff;
    --c-gray: #a9a9a9;
    --c-silver: #c8c8c8;
    --c-red: #c00000;
    --c-darkRed: #8B0000;
    --c-green: #188038;
    --c-orange: #ffa500;
    --c-blue: #2962ff;
    --c-black: #000000;

    // Specific colors
    --c-gray85: #d9d9d9;
    --c-lightGray: #f2f2f2;
    --c-dimmGray: #696969;
    --c-lightGreen: #a8f1c6;
    --c-greenLime: #198344;
    --c-lightOrange: #fff9f0;
    --c-darkRed: #8B0000;
    --c-lightRed: #ffe0e3;
}

a, a:hover {
    color: var(--c-black);
    text-decoration: none;
}

@mixin desktop {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 991px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin tiny_mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}


/* ----------------------------------------------- *\
    Imports
\* ----------------------------------------------- */
@import "./parts/site";
@import "./parts/site_admin";
@import "./parts/breadcrumb";
@import "./parts/form";
@import "./parts/card";
@import "./parts/card_product";
@import "./parts/card_offered_service";
@import "./parts/carroussel";
@import "./parts/filter";
@import "./parts/pagination";
@import "./parts/button";
@import "./parts/table";
@import "./parts/badge";
@import "./parts/helper";
@import "./parts/product";
@import "./parts/notification";
@import "./parts/policy";
@import "./parts/comment";